#pizza_pic_holder {
    margin-top: 3em;
    height: 230px;
    width: 230px;
}

.size_attribute, .topping_attribute {
    color: #33CCFF;
}

.cost_attribute {
    color: #FF0000;
}

#order_complete {
    display: none;
}
